@import '../../sass/style.sass'

.todolist
    min-height: 100vh
    height: 100%
    padding-left: 230px
    transition: all .3s ease-in-out
    background-color: $light-color-hover

    @include dark
        background-color: $dark-color

    @include tablet
        padding-left: 80px

    @include mobile
        padding-left: 0

.tableTasks-page,
.createTask-page,
.editTask-page
    padding: 50px

    @include mobile
        padding: 0

@include mobile
    .createTask-content,
    .editTask-content,
    .tableTasks-content
        padding: 130px 25px 25px 25px

.table
    max-width: 1000px
    width: 100%
    border-spacing: 0px 5px

    &-header
        max-height: 50px
        background-color: $primary-color
        border-radius: 20px

        &-text
            @include text($size: 1rem, $height: 20px, $weight: 700)
            color: $light-color-hover
            text-transform: uppercase

        &-task
            padding: 15px
            text-align: left

            @include mobile
                text-align: center

        &-status
            width: 200px
            padding: 15px

            @include mobile
                display: none

        &-createdAt
            width: 200px
            padding: 15px

            @include tablet
                display: none

    &-body

        &-row
            cursor: pointer
            background-color: $light-color
            transition: background-color .3s ease-in-out

            @include dark
                background-color: $dark-color-hover

        &-text
            @include text($size: 1rem, $height: 24px, $weight: 400)
            color: $dark-color

            @include dark
                color: $light-color-hover

        &-task
            padding: 10px
            max-width: 200px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &-checked
                text-decoration: line-through
                color: $light-color-var-1

                @include dark
                    color: $light-color-var-1

        &-status
            padding: 10px
            width: 200px
            text-align: center

            @include mobile
                display: none

            &-checked
                color: $checked-color

            &-pendent
                color: $pendent-color

        &-createdAt
            padding: 10px
            width: 200px
            text-align: center

            @include tablet
                display: none

.form
    display: flex
    flex-direction: column

    &-label
        @include text($size: 1.2rem, $height: 16px, $weight: 700)
        margin-bottom: 10px
        text-transform: uppercase
        color: $dark-color

        @include dark
            color: $light-color-hover

        &-marked
            color: $pendent-color

        &-optional
            font-weight: 400
            text-transform: none

    &-input-task
        @include input
        @include dark
            background-color: $dark-color-hover
            color: $light-color-hover

    &-input-description
        @include input
        height: 200px
        resize: none

        @include dark
            background-color: $dark-color-hover
            color: $light-color-hover

    &-status
        @include text($size: 1.2rem, $height: 23.04px, $weight: 400)
        color: $dark-color

        @include dark
            color: $light-color-hover

        &-click
            @include text($size: 1.2rem, $height: 23.04px, $weight: 700)
            cursor: pointer

            &:hover
                text-decoration: underline

        &-checked
            color: $checked-color

        &-pendent
            color: $pendent-color

    &-createdAt
        @include text($size: 1.2rem, $height: 23.04px, $weight: 400)
        color: $dark-color

        @include dark
            color: $light-color-hover

        &-data
            @include text($size: 1.2rem, $height: 23.04px, $weight: 700)

    &-container-btn
        margin-top: 30px

    &-btn-create
        background-color: $primary-color
        color: $light-color-hover
        @include text($size: 1rem, $height: 24px, $weight: 400)
        border-radius: 10px
        border: none
        outline: none
        padding: 8px 25px
        height: 40px
        margin-right: 20px
        cursor: pointer

    &-btn-return
        @include text($size: 1rem, $height: 24px, $weight: 400)
        background-color: transparent
        color: $dark-color
        border: none
        outline: none
        cursor: pointer

        @include dark
            color: $light-color-hover
