@import '../../sass/style.sass'

// BACKGROUND - ALL
.background
    min-height: 100vh
    height: 100%
    background-color: $light-color-hover
    transition: all .3s ease-in-out

    @include dark
        background-color: $dark-color

// LOADING - PAGE
.loading
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center

    &-svg
        width: 60px
        height: 60px
        animation: rotate 2s linear infinite

    &-circle
        fill: none
        stroke: $primary-color
        stroke-width: 4
        stroke-dasharray: 1, 200
        stroke-dashoffset: 0
        stroke-linecap: round
        animation: rotate-circle 1.5s ease-in-out infinite

@keyframes rotate
    100%
        transform: rotate(360deg)

@keyframes rotate-circle
    0%
        stroke-dasharray: 1, 200
        stroke-dashoffset: 0

    50%
        stroke-dasharray: 90, 200
        stroke-dashoffset: -35px

    100%
        stroke-dashoffset: -125px

// TODOLIST - PAGE
.todolist
    transition: all .3s ease-in-out
    min-height: 100vh
    padding-left: 230px

    @include tablet
        padding-left: 80px

    @include mobile
        padding-left: 0

.tableTasks-page,
.createTask-page,
.editTask-page
    padding: 50px

    @include mobile
        padding: 0

@include mobile
    .createTask-content,
    .editTask-content,
    .tableTasks-content
        padding: 130px 25px 25px 25px

.table-tasks
    max-width: 1000px
    width: 100%
    border-spacing: 0px 5px

    & thead
        background-color: $primary-color
        height: 45px

    & th
        @include text($size: 0.75rem, $height: 20px, $weight: 700)
        letter-spacing: 1px
        color: $light-color-hover
        padding: 10px
        text-transform: uppercase

        &.status
            text-align: center

        &.task
            text-align: left

            @include tablet
                text-align: center

        &.createdAt
            @include tablet
                display: none

    & tbody
        transition: all .3s ease-in-out
        height: 40px
        background-color: $light-color

        @include dark
            background-color: $dark-color-hover

    & tr td
        height: 50px
        padding: 10px
        @include text($size: 1rem, $height: 24px, $weight: 400)
        color: $dark-color

        @include dark
            color: $light-color-hover

        &.status
            text-align: center
            min-width: 120px

            @include tablet
                min-width: 80px

            @include mobile
                min-width: 50px

        &.task
            cursor: pointer
            max-width: 100px
            width: 100%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            &-checked
                text-decoration: line-through
                color: rgba(48, 48, 48, 0.5)

                @include dark
                    color: rgba(255, 255, 255, 0.5)

        &.createdAt
            cursor: pointer
            text-align: center
            min-width: 300px

            @include tablet
                display: none

            &-checked
                color: rgba(48, 48, 48, 0.5)

                @include dark
                    color: rgba(255, 255, 255, 0.5)

.checkbox
    display: flex
    justify-content: center
    align-items: center

    &-hidden
        display: none

    &-new
        width: 25px
        height: 25px
        border-radius: 50%
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        transition: all .3s ease-in-out
        background-color: $light-color-hover

        @include dark
            background-color: $dark-color

    &-active
        background-color: $primary-color

        @include dark
            background-color: $primary-color

    &-icon
        color: $light-color-hover

.notTask
    @include text($size: 1.2rem, $height: 23.04px, $weight: 400)
    color: $dark-color

    @include dark
        color: $light-color-hover

    &-redirect
        @include text($size: 1.2rem, $height: 23.04px, $weight: 700)
        cursor: pointer

        &:hover
            text-decoration: underline
