@import '../../sass/style.sass'

.form
    display: flex
    flex-direction: column

    &-container
        display: flex
        flex-direction: column
        max-width: 1000px
        margin-bottom: 30px

    &-label
        @include text($size: 1.2rem, $height: 16px, $weight: 700)
        margin-bottom: 10px
        text-transform: uppercase
        color: $dark-color

        @include dark
            color: $light-color-hover

        &-marked
            color: $pendent-color

        &-optional
            font-weight: 400
            text-transform: none

    &-input-task
        @include input
        border: 2px solid transparent

        @include dark
            background-color: $dark-color-hover
            color: $light-color-hover

        &-warning
            border: 2px solid $pendent-color

        &-confirmed
            border: 2px solid $checked-color

    &-input-description
        @include input
        height: 200px
        resize: none

        @include dark
            background-color: $dark-color-hover
            color: $light-color-hover

    &-createdAt
        &-text
            text-align: right
            margin-bottom: 10px
            @include text($size: 1rem, $height: 24px, $weight: 400)
            color: $dark-color

            @include dark
                color: $light-color-hover

        &-data
            @include text($size: 1rem, $height: 24px, $weight: 700)

    &-btn-create
        background-color: $primary-color
        color: $light-color-hover
        @include text($size: 1rem, $height: 24px, $weight: 400)
        border-radius: 10px
        border: none
        outline: none
        padding: 8px 25px
        height: 40px
        margin-right: 20px
        cursor: pointer
        transition: background-color .2s ease-in-out

        &:hover, &:active
            background-color: $primary-color-hover

    &-btn-return
        @include text($size: 1rem, $height: 24px, $weight: 400)
        background-color: transparent
        color: $dark-color
        border: none
        outline: none
        cursor: pointer

        @include dark
            color: $light-color-hover
